.contenedorContacto{
    background-color: #eba04ce0;
    width: 75%;
    color: rgba(126, 67, 0, 0.993);
    margin-left: 14%;
    margin-right: 20%;
    margin-top: 49%;
    
    height: 500px;
    display: flex
}
.col1{
   margin-left: 14%;
    
    
}
.col2{
   
    display: flex;
    margin-left: -2%;
    width: 30%;
    height: 10%;
    margin-top: 9%;
    
    
}
.con{
    font-size: 200%;
    height: 15%;
}
.enviar{

    color: white;
   
    float: left;    
    margin-top: 5%;
    width: 390px;
    text-align: center;
    margin-left: 0%;
    height: 32px;
    background-color: black;
    border-radius: 88px; 
    
    
}
.nombre, .email, .mensaje{
    margin-top: 6%;
    
}
.mensajeInput{
    height: 240%;
}
.nombreInput, .emailInput, .mensajeInput{
    width: 95%;
}
.imgSocial{
   
    width: 22%;
    height: 11%;
    margin-left: -41%;
    margin-right: 29%;
    margin-top: 31%;
    
}
.imgSocial img{
    width: 14%;
    margin-right: 8%;
    
}

@media (max-width: 950px) {
    .contenedorContacto{
        margin-top: 170%;
        height: 1000px;
    }
    .col1{
        
        width: 88%;
        height: 55%;
        margin-left: 8%;
    }
    .col2{
        float:left;
        
        margin-top: 61%;
        margin-left: -111%;
        
    }
    .col2 .nombreInput{
        width: 500px;
    }
    .col2 .emailInput{
        width: 500px;
    }
    .col2 .mensajeInput{
        width: 500px;
    }
    
    .enviar{
        margin-left: 0%;
        width:515px;
        height: 40px;
        
    }
    
    .imgSocial{
   
        width: 16%;
        height: 11%;
        margin-left: -21%;
        margin-right: 28%;
        margin-top: 135%;
        
        
    }
    .imgSocial img{
        width: 50%;
        margin-left: -90%; 
        margin-right: -75%;
    
    }
    
}
