body{
    background-color: rgba(0,0,0,0.8);
    margin-top: 1%;
}
.contenedor{
    background-color: white;
    width: 50%;
    height: 890px;
    margin-left: 26%;
    margin-right: 35%;
    margin-top: 1%;
    margin-bottom: 9%; 
    border-radius: 3%;
}
img{
    width: 99%;
    height: 45%;
    margin-top: 11%

}
.conImg{
    margin-left: 27.5%;
    margin-right: 27.6%;
    
}
.frase4{
    font-size: 250%;
    text-align:center;
    font-weight:bolder;
    margin-top: 1%;
    
}
.frase1, .frase2{
    font-size: 120%;
    text-align: center;
    
}
a{
    color: rgba(0, 0, 0, 0.993);
    text-decoration: none;
    font-size: 120%;
    font-weight: bold;
    
}
.btn{
    width: 92%;
    height: 41px;
    background-color:peru ;
    font-size: 130%;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    margin-top: 0%;
    border-radius: 10px;
    
    
}
@media (max-width: 950px){
    .contenedor{
        background-color: white;
        width: 80%;
        height: 820px;
        margin-left: 12%;
        margin-right: 35%;
        margin-top: 1.2%;
        margin-bottom: 9%; 
        border-radius: 3%;
    }
}