.skills {
  max-width: 980px;
  margin: 0 auto;
}

.skills-title {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: rgb(233, 152, 31);
}

.skills-skill {
  font-size: 28px;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(228, 198, 66, 0.822);
  border-radius: 42px;
  padding: 0.5em 0.7em;
  margin: 10px;
}
.skills-skill:hover{
    background-color: #977849;
    color: white;
}

.skills-list {
  list-style: none;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media(min-width: 950px) {
  .skills-title {
    font-size: 50px;
  }
  
  .skills-skill {
    font-size: 30px;
    margin: 20px;
  }
}